<h2>购物车</h2>
<%= link_to("清空购物车", clean_carts_path, method: :delete, class: "btn btn-primary btn-sm pull-right", data: { confirm: "Are you sure?" } ) %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品资讯</th>
      <th>商品名称</th>
      <th>商品价格</th>
      <th>商品数量</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= link_to product_path(cart_item.product) do %>
              <% if cart_item.product.image.present? %>
                <%= image_tag(cart_item.product.image.thumb.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to( cart_item.product.title, product_path(cart_item.product) ) %></td>
          <td><%= cart_item.product.price %></td>
          <td>
           <%= form_for cart_item, url: cart_item_path(cart_item.product_id) do |f| %>
             <%= f.select :quantity, 1..cart_item.product.quantity %>
             <%= f.submit "更新", data: { disable_with: "Submiting..." } %>
           <% end %>
           </td>
          <td><%= link_to("Destroy", cart_item_path(cart_item.product_id), method: :delete, class: "btn btn-default btn-sm", data: { confirm: "Are you Sure?"} ) %></td>
        </tr>
        <% end %>
      </tbody>
    </tr>
  </tbody>
</table>

<div class="total clearfix">
  <span class="pull-right">
     <span>
      总计
      <%= current_cart.total_price %>
      RMB
    </span>
  </span>
</div>

<hr>

<div class="checkout clearfix">
  <%= link_to("确认结账", checkout_carts_path, method: :post, class: "btn btn-lg btn-danger pull-right") %>
</div>

<!-- ************************* Shopping-Bag ************************* -->
<section id="shopping-bag" class="container-fluid clearfix">
  <div class="row wrapper">
    <h2 class="title">Shopping Bag</h2>
    <div class="col-md-8 item-wrapper">
      <div class="row item-info">
        <div class="col-md-3 item-image">
          <img src="http://lp2.hm.com/hmprod%3Fset%3Dsource%5B%2Fmodel%2F2017%2FF00+0527197+001+55+0719.jpg%5D%2Ctype%5BSTILLLIFE_FRONT%5D%26hmver%3D1%26call%3Durl%5Bfile%3A%2Fproduct%2Fcart%5D" alt="item-image">
        </div>
        <div class="col-md-9 item-detail">
          <div  class="item-title">
            <p>
              Jersey leggings
              <br>
              ¥69.90
            </p>
            <span>item-total</span>
          </div>


          <dl class="item-list">
            <dt>Art no:</dt>
            <dd> 0480576010</dd>
            <dt>Art no:</dt>
            <dd> 0480576010</dd>
            <dt>Art no:</dt>
            <dd> 0480576010</dd>
          </dl>

          <div class="button-wrapper">
            <button type="button" name="delete">delete</button>
            <button type="button" name="fa">fa</button>
            <button type="button" name="quantity">quantity</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 checkout-wrapper">
      checkout-wrapper
    </div>
  </div>
</section>
