<h3 class="text-center">购物车</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品资讯</th>
      <th>商品名称</th>
      <th>商品价格</th>
      <th>商品数量</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= link_to product_path(cart_item.product) do %>
              <% if cart_item.product.image.present? %>
                <%= image_tag(cart_item.product.image.thumb.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to( cart_item.product.title, product_path(cart_item.product) ) %></td>
          <td><%= cart_item.product.price %></td>
          <td><%= cart_item.quantity %></td>
        </tr>
        <% end %>
      </tbody>
    </tr>
  </tbody>
</table>

<div class="total clearfix">
  <span class="pull-right">
     <span>
      总计
      <%= current_cart.total_price %>
      RMB
    </span>
  </span>
</div>

<hr>

<div class="checkout clearfix">
  <%= link_to("确认结账", "#", class: "btn btn-lg btn-danger pull-right") %>
</div>
