<!--
<div class="row">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>

      <div class="pull-right">
        <% if @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, :class => "btn btn-danger btn-lg") %>
        <% else %>
          "商品已销售一空！"
        <% end %>
      </div>
  </div>
</div>
-->


<!-- ************************* Ladies-Product-Show ************************* -->
<section id="product-show" class="container-fluid">
    <div class="wrapper row">
      <div id="thumb-image" class="col-md-1">
        <img src="http://lp2.hm.com/hmprod?set=source[/environment/2017/9AS_0107_002R.jpg],width[4112],height[4808],y[-1],type[FASHION_FRONT]&hmver=1&call=url[file:/product/thumb]" alt="no pic">
        <img src="http://lp2.hm.com/hmprod?set=source[/environment/2017/9AS_0107_002R.jpg],width[4112],height[4808],y[-1],type[FASHION_FRONT]&hmver=1&call=url[file:/product/thumb]" alt="no pic">
        <img src="http://lp2.hm.com/hmprod?set=source[/environment/2017/9AS_0107_002R.jpg],width[4112],height[4808],y[-1],type[FASHION_FRONT]&hmver=1&call=url[file:/product/thumb]" alt="no pic">
        <img src="http://lp2.hm.com/hmprod?set=source[/environment/2017/9AS_0107_002R.jpg],width[4112],height[4808],y[-1],type[FASHION_FRONT]&hmver=1&call=url[file:/product/thumb]" alt="no pic">
      </div>

      <div id="details-image" class="col-md-5">
        <img src="http://lp2.hm.com/hmprod?set=source[/model/2017/F00%200532098%20003%2055%200507.jpg],type[STILLLIFE_FRONT]&hmver=1&call=url[file:/product/main]" alt="">
      </div>

      <div id="product-info" class="col-md-6">
        <div class="normal-info">
          <h3 class="product-title">Dungaree dress</h3>
          <h3 class="product-price">¥149.00</h3>
        </div>

        <div class="color commen">
          <span>COLOUR:</span> Cerise
          <ul>
            <li><a href="#">C</a></li>
            <li><a href="#">C</a></li>
            <li><a href="#">C</a></li>
          </ul>
        </div>

        <div class="size commen">
          <span>SIZE:</span> 24 (150)
          <ul>
            <li><a href="#">24 (150)</a></li>
            <li><a href="#">24 (150)</a></li>
            <li><a href="#">24 (150)</a></li>
            <li><a href="#">24 (150)</a></li>
            <li><a href="#">24 (150)</a></li>
            <li><a href="#">24 (150)</a></li>
            <li><a href="#">24 (150)</a></li>
            <li><a href="#">24 (150)</a></li>
            <li><a href="#">24 (150)</a></li>
            <li><a href="#">24 (150)</a></li>
            <li><a href="#">24 (150)</a></li>
            <li><a href="#">233 (150)</a></li>
            <li><a href="#">24cm (150)</a></li>
            <li><a href="#">24 (150)</a></li>
            <li><a href="#">24 (150)</a></li>
          </ul>
          <a  href="#" class="size-guaid">SIZE GUIDE</a>
        </div>

        <div class="button-wrapper commen">
          <ul>
            <div>Delivers in: 1-7 working days</div>
            <li class="add-button">
              <i class="fa fa-shopping-bag"></i>
              <%= link_to("add to shopping bag", add_to_cart_product_path(@product), method: :post ) %>
            </li>
            <li class="favourite-button">
              <i class="fa fa-heart" aria-hidden="true"></i>
              <a href="#">save as favourite</a>
            </li>
          </ul>
        </div>

        <div class="more-info commen">
          <ul class="links">
            <li><a href="#" class="current">DESCRIPTION</a></li>
            <li><a href="#">DETAILS</a></li>
            <li><a href="#">SHARE</a></li>
            <li><a href="#">DELIVERY</a></li>
          </ul>
          <div class="info-details">
            <p>Jersey leggings with an elasticated waist.</p>
          </div>
        </div>
        </div>

      </div>
    </div>
</section>



<!-- ************************* Style-With ************************* -->

<section id="style-with" class="clearfix container-fluid">
  <h3 class="text-center">STYLE WITH</h3>
  <div class="wrapper row">
    <div class=" col-md-3 product-item ">
      <div class="image-wrapper">
        <img src="http://lp2.hm.com/hmprod?set=source[/model/2017/F00%200511516%20001%2064%205096.jpg],type[STILLLIFE_FRONT]&hmver=3&call=url[file:/product/style]" alt="item">
        <a href="#" class="favourite-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
      </div>

      <div class="product-info">
        <p>Hooded bomber jacket
          <br>¥299.00
        </p>
      </div>
    </div>

    <div class=" col-md-3 product-item ">
      <div class="image-wrapper">
        <img src="http://lp2.hm.com/hmprod?set=source[/model/2017/F00%200511516%20001%2064%205096.jpg],type[STILLLIFE_FRONT]&hmver=3&call=url[file:/product/style]" alt="item">
        <a href="#" class="favourite-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
      </div>

      <div class="product-info">
        <p>Hooded bomber jacket
          <br>¥299.00
        </p>
      </div>
    </div>

    <div class=" col-md-3 product-item ">
      <div class="image-wrapper">
        <img src="http://lp2.hm.com/hmprod?set=source[/model/2017/F00%200511516%20001%2064%205096.jpg],type[STILLLIFE_FRONT]&hmver=3&call=url[file:/product/style]" alt="item">
        <a href="#" class="favourite-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
      </div>

      <div class="product-info">
        <p>Hooded bomber jacket
          <br>¥299.00
        </p>
      </div>
    </div>

    <div class=" col-md-3 product-item ">
      <div class="image-wrapper">
        <img src="http://lp2.hm.com/hmprod?set=source[/model/2017/F00%200511516%20001%2064%205096.jpg],type[STILLLIFE_FRONT]&hmver=3&call=url[file:/product/style]" alt="item">
        <a href="#" class="favourite-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
      </div>

      <div class="product-info">
        <p>Hooded bomber jacket
          <br>¥299.00
        </p>
      </div>
    </div>
  </div>
</section>
